.input-with-icon {
  position: relative;
}

.input-with-icon input {
  width: 100%;
  padding-right: 35px; /* Để có đủ chỗ cho biểu tượng con mắt */
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #888;
}
